.card{
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}

.card__delete{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background-image: url(../images/delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  opacity: 1;
}

.card__delete:hover{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background-image: url(../images/delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  opacity: .6;
}

.card__image{
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.card__footer{
  display: grid;
  grid-template-columns: 225px 21px;
  margin: 25px 21px 31px;
  align-items: center;
  width: 100%;
  position: relative;
}

.card__title{
  margin: 0;
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like{
  /* position: absolute;
  right: 16px; */
  width: 21px;
  height: 19px;
  cursor: pointer;
  overflow: hidden;
  background-image: url(../images/like.png);
  background-color: transparent;
  background-position: center;
  border: 0;
  opacity: 1;
  transition: .3s;
}

.card__like:hover{
  /* position: absolute;
  right: 16px; */
  width: 21px;
  height: 19px;
  cursor: pointer;
  overflow: hidden;
  background-image: url(../images/like.png);
  background-color: transparent;
  background-position: center;
  border: 0;
  opacity: .5;
}

.card__like_active{
  /* position: absolute;
  right: 16px; */
  width: 21px;
  height: 19px;
  cursor: pointer;
  overflow: hidden;
  background-image: url(../images/like-selected.png);
  background-color: transparent;
  background-position: center;
  border: 0;
  opacity: 1;
}

.card__like_active:hover{
  /* position: absolute;
  right: 16px; */
  width: 21px;
  height: 19px;
  cursor: pointer;
  overflow: hidden;
  background-image: url(../images/like-selected.png);
  background-color: transparent;
  background-position: center;
  border: 0;
  opacity: .7;
}
