.popup{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  flex-direction: column;
}

.popup_edit {
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
}

.popup_add{
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
}

.popup_delete{
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
}

.popup_photo{
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
}

.popup__close{
  position: absolute;
  top: -45px;
  right: -45px;
  width: 45px;
  height: 45px;
  background-image: url(../images/close.png);
  background-color: #00FF0000;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  opacity: 1;
}

.popup__close:hover{
  position: absolute;
  top: -45px;
  right: -45px;
  width: 45px;
  height: 45px;
  background-image: url(../images/close.png);
  background-color: #00FF0000;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  opacity: .6;
}

.popup__title{
  margin: 34px 64px 0 36px;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.popup__container{
  width: 380px;
  margin: 55px auto 36.5px;
}

.popup__container-delete{
  width: 380px;
  margin: 38px auto 36.5px;
}

.popup__input{
  margin: 0;
  width: 100%;
  height: 27.34px;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  font-size: 14px;
  line-height: 16.94px;
}

.popup__input_type_error{
  margin: 0;
  width: 100%;
  height: 27.34px;
  border: 0;
  border-bottom: 1px solid #F00;
  font-size: 14px;
  line-height: 16.94px;
}

.popup__input::-webkit-input-placeholder {
  padding: 0 0 13.29px;
  color: #C4C4C4;
}

.popup__input::-moz-placeholder {
  padding: 0 0 13.29px;
  color: #C4C4C4;
}

.popup__input::-ms-input-placeholder {
  padding: 0 0 13.29px;
  color: #C4C4C4;
}

.popup__input::placeholder {
  padding: 0 0 13.29px;
  color: #C4C4C4;
}

.popup__input-error {
  display: inline-flex;
  margin: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
}

.popup__input-error_active {
  margin: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #F00;
}

.popup__save-button{
  margin-top: 18px;
  width: 100%;
  height: 50.15px;
  color: #FFF;
  background-color: #000;
  border: 1px solid #C4C4C4;
  font-size: 18px;
  line-height: 21.78px;
  opacity: 1;
}

.popup__confirm-delete{
  width: 100%;
  height: 50.15px;
  color: #FFF;
  background-color: #000;
  border: 1px solid #C4C4C4;
  font-size: 18px;
  line-height: 21.78px;
  opacity: 1;
}

.popup__save-button:hover{
  margin-top: 18px;
  width: 100%;
  height: 50.15px;
  color: #FFF;
  background-color: #000;
  border: 1px solid #C4C4C4;
  font-size: 18px;
  line-height: 21.78px;
  opacity: .8;
}

.popup__save-button:disabled{
  margin-top: 18px;
  width: 100%;
  height: 50.15px;
  color: #C4C4C4;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  font-size: 18px;
  line-height: 21.78px;
  opacity: .8;
}

.popup__image{
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-title{
  width: 100%;
  margin: 10px 0 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  line-height: 14.52px;  
}

/* .popup_opened{
  display: none;
} */